$neutral-black: #000;
$neutral-white: #fff;

$neutral-0: #fafafa;
$neutral-100: #f5f5f5;
$neutral-200: #e5e5e5;
$neutral-300: #d4d4d4;
$neutral-400: #a1a1a1;
$neutral-500: #737373;
$neutral-600: #525252;
$neutral-700: #404040;
$neutral-800: #262626;
$neutral-900: #171717;

$primary-0: #fffee4;
$primary-100: #ffffc5;
$primary-200: #fbff92;
$primary-300: #f4ff53;
$primary-400: #e6fb20;
$primary-500: #e1fd00;
$primary-600: #9cb500;
$primary-700: #758902;
$primary-800: #5c6c08;
$primary-900: #4e5b0c;
