@use './vars/breakpoints.scss' as *;
@use './vars/colors.scss' as *;
@use './vars/mixins.scss' as *;

@import 'lenis/dist/lenis.css';

* {
  background: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border: 0 solid;
  box-sizing: border-box;
  cursor: inherit;
  margin: 0;
  outline: none;
  padding: 0;

  font: inherit;
  letter-spacing: inherit;
  line-height: 100%;
  overflow-wrap: break-word;
  text-align: inherit;
  text-decoration: none;
  user-select: text;
}

::placeholder {
  opacity: 1;
  user-select: none;
}

::selection {
  background: $primary-500;
  color: $neutral-black;
}

body,
html,
#app {
  min-height: 100vh;
  width: 100%;
}

body {
  background: $neutral-700;
  background: repeating-linear-gradient(
    45deg,
    $neutral-900,
    $primary-500 4px,
    $neutral-300 4px,
    $neutral-300 64px
  );
  color: $neutral-300;
}

html {
  cursor: auto;
  overflow-x: hidden;

  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 500;

  letter-spacing: -0.025em;
  text-align: left;
  text-size-adjust: 100%;
}

#app {
  @include flex-column;

  background: $neutral-900;
  // background-image:
  //   linear-gradient($neutral-800 1px, transparent 1px),
  //   linear-gradient(90deg, $neutral-800 1px, $neutral-900 1px);
  // background-size: 64px 64px;

  align-items: center;
  box-shadow: 0 0 32px 32px rgba($neutral-500, 0.5);
  margin: 0 auto;
  max-width: 256px * 10;
  position: relative;
}

.undefined {
  background: #f00 !important;
}

img,
svg {
  height: auto;
  min-width: 0;
  user-select: none;
}

img {
  object-fit: contain;
  object-position: center;
  width: 100%;
}

video {
  width: 100%;
}
